echo "requests==2.31.0" > requirements.txt  
   echo "faker==24.6.0" >> requirements.txt  
   echo "boto3==1.34.0" >> requirements.txt  
   echo "phonenumbers==8.13.22" >> requirements.txt  
   echo "flask==3.0.0" >> requirements.txt  
